body {
    font-family: sans-serif;
    padding: 2rem;
}

img {
    max-width: 400px;
    display: block;
    margin-top: 1rem;
    
}

.demo{
    image-rendering: pixelated;
    width: 400px;
    height: 400px;
}

#fileInitD2,#fileInitD3 {
    display: none;
}

#fileInitD2.visible,#fileInitD3.visible {
    display: block;
}

/* Onglets principaux */
.tabs {
    display: flex;
    background: #333;
}

.tabs button {
    flex: 1;
    padding: 15px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.tabs button.active {
    background: #666;
}

/* Contenu principal */
.tab-content {
    display: none;
    padding: 20px;
    background: #f4f4f4;
    min-height: 200px;
}

.tab-content.active {
    display: block;
}


/* Sous-onglets */
.subtabs {
    display: flex;
    background: #555;
    margin-top: 10px;
}

.subtabs button {
    flex: 1;
    padding: 10px;
    background: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

.subtabs button.active {
    background: #888;
}

.subtab-content {
    display: none;
    padding: 15px;
    background: #fff;
    margin-top: 5px;
    border: 1px solid #ddd;
}

.subtab-content.active {
    display: block;
}

.comp-answ {
    overflow: hidden;              /* Empêche le contenu de dépasser */
    max-height: 0;                 /* Caché au début */
    opacity: 0;                    /* Invisible */
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.comp-answ.visible {
    max-height: 200px;             /* Hauteur suffisante pour contenir le texte */
    opacity: 1;                    /* Visible */
}

.comp-answ-btn {
    padding: 10px;
    background: #888;
    color: #fff;
    border: none;
    cursor: pointer;
}

.comp-answ-btn.active {
    background: #555;
}

