body {
    font-family: sans-serif;
    padding: 2rem;
}

img {
    max-width: 400px;
    display: block; 
    margin-top: 1rem
}

#fileInit{
    max-width: 400px;
    display: none; 
    margin-top: 1rem
}

#fileInit.visible{
    display: block;
}