body {
    font-family: sans-serif;
    padding: 2rem;
    padding-top: 1em;
}

img {
    max-width: 400px;
    display: block;
    margin-top: 1rem;
}

img .center{
    display: block;
    margin: 0 auto 1rem;
    max-width: 100%;
    height: auto;
}
.titre{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #7fc2f8;
    text-align:center;
    font-size:2em
}

.demo{
    image-rendering: pixelated;
    width: 400px;
    height: 400px;
}

#fileInitD2,#fileInitD3 {
    display: none;
}

#fileInitD2.visible,#fileInitD3.visible {
    display: block;
}

/* Onglets principaux */
.tabs {
    display: flex;
    background: #333;
}

.tabs button {
    flex: 1;
    padding: 15px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.tabs button.active {
    background: #666;
}

/* Contenu principal */
.tab-content {
    display: none;
    padding: 20px;
    background: #f4f4f4;
    min-height: 200px;
}

.tab-content.active {
    display: block;
}


/* Sous-onglets */
.subtabs {
    display: flex;
    background: #555;
    margin-top: 10px;
}

.subtabs button {
    flex: 1;
    padding: 10px;
    background: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

.subtabs button.active {
    background: #888;
}

.subtab-content {
    display: none;
    padding: 15px;
    background: #fff;
    margin-top: 5px;
    border: 1px solid #ddd;
}

.subtab-content.active {
    display: block;
}

.container{
    display: flex;
  	width: 100%;
    align-items: flex-start;
}

.blocs{
    display: inline-block;
    padding: 1em;
    margin: 1em;
    border: 1px solid black;
    flex: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;   /* empile les blocs */
  }
}

.comp-answ {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.comp-answ.visible {
    max-height: 200px;            
    opacity: 1;                    
}

.comp-answ-btn {
    padding: 10px;
    background: #888;
    color: #fff;
    border: none;
    cursor: pointer;
}

.comp-answ-btn.active {
    background: #555;
}

