<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pedag'ESEO</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/favicon/site.webmanifest">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>

<body>
    <!-- ONGLET PRINCIPAL -->
    <div class="tabs">
        <button class="tab-btn active" data-tab="propos">A propos</button>
        <button class="tab-btn" data-tab="demo">Démonstrations</button>
        <button class="tab-btn" data-tab="activite">Ateliers et Activités</button>
    </div>
    <!-- CONTENU A PROPOS-->
    <div id="propos" class="tab-content active">
        <span>
            Ceci est le site de l'ESEO permettant de participer au activité pédagogique sur l'IA pour Collège et Lycée.
            Ce site, les modèles d'IA ainsi que les activité ont été réalisées par Couplan Ghyslain et Lilian Lemercier.
        </span>
    </div>
    <!-- CONTENU DÉMO -->
    <div id="demo" class="tab-content">
        <h2>Section Démonstrations</h2>

        <div class="subtabs">
            <button class="subtab-btn active" data-subtab="d1">Démo 1</button>
            <button class="subtab-btn" data-subtab="d2">Démo 2</button>
            <button class="subtab-btn" data-subtab="d3">Démo 3</button>
            <button class="subtab-btn" data-subtab="d4">Flux Caméra de la voiture</button>
        </div>

        <div id="d1" class="subtab-content active">
            <h1>IA de régression</h1>
            <form action="/process?ml=1" method="POST" id="answerD1">
                <label for="Pclass">Dans quelle classe voyager vous?</label><br>
                <label for="first">1re classe :</label>
                <input type="radio" id="first" name="Pclass" value=1>
                <label for="second">2e classe :</label>
                <input type="radio" id="second" name="Pclass" value=2>
                <label for="third">3e classe :</label>
                <input type="radio" id="third" name="Pclass" value=3><br><br>

                <label for="Sex">Etes vous un homme ou une femme?</label><br>
                <label for="homme">Homme :</label>
                <input type="radio" id="homme" name="Sex" value=0>
                <label for="femme">Femme :</label>
                <input type="radio" id="femme" name="Sex" value=1><br><br>
                
                <label for="Age">Quel age avez vous?</label><br>
                <input type="number" id="Age" name="Age"><br><br>

                <label for="SibSp">Avec combien de frères, soeurs et/ou partnaires voyager vous?</label><br>
                <input type="number" id="SibSp" name="SibSp"><br><br>

                <label for="Parch">Avec combien de membres de votre famille autres voyager vous?</label><br>
                <input type="number" id="Parch" name="Parch"><br><br>

                <label for="Fare">Quel est le prix de votre billets?</label><br>
                <input type="number" id="Fare" step=0.01 name="Fare"><br><br>

                <label for="Embarked">De quel ville etes vous partis?</label><br>
                <label for="S">Southampton :</label>
                <input type="radio" id="S" name="Embarked" value=0>
                <label for="C">Cherbourg :</label>
                <input type="radio" id="C" name="Embarked" value=1>
                <label for="Q">Queenstown :</label>
                <input type="radio" id="Q" name="Embarked" value=2><br><br>

                <label for="LWeight">Quel est le poids de votre bagage?</label><br>
                <input type="number" id="LWeight" step=0.01 name="LWeight"><br><br>

                <button type="submit">Envoyer</button>
            </form><br>

            <span>Avec ces informations, votre taux de survie lors du naufrage du Titanic serai de </span>
            <span id="resultTaD1"> X</span>
            <span>%</span>
        </div>
        <div id="d2" class="subtab-content">
            <h1>IA de classification biclasse</h1>

            <label for="fileInputD2">Votre image à analyser</label>
            <input type="file" class="image-upload" id="fileInputD2" accept="image/*" data-preview="fileInitD2" />
            <button onclick="sendImage(2)">Envoyer</button>

            <h2>Résultat :</h2>
            <img id="fileInitD2" alt="Image donnée" />
            <img id="resultIMGD2" class="demo" alt="Image analysée" />
            <span>L'image envoyée est détéctée comme un </span>
            <span id="resultClD2"> X </span>
            <br>
            <span>Cette prédiction est sure à </span>
            <span id="resultPrD2"> X</span>
            <span>%</span>
        </div>
        <div id="d3" class="subtab-content">
            <h1>IA de classification multiclasse</h1>

            <label for="fileInputD3">Votre image à analyser</label>
            <input type="file" class="image-upload" id="fileInputD3" accept="image/*" data-preview="fileInitD3" />
            <button onclick="sendImage(3)">Envoyer</button>

            <h2>Résultat :</h2>
            <img id="fileInitD3" alt="Image donnée" />
            <img id="resultIMGD3" class="demo" alt="Image analysée" />
            <span>L'image envoyée est détéctée comme un </span>
            <span id="resultClD3"> X </span>
            <br>
            <span>Cette prédiction est sure à </span>
            <span id="resultPrD3"> X</span>
            <span>%</span>
        </div>
        <div id="d4" class="subtab-content">
            <h1>Flux vidéo de la caméra de la voiture</h1>
            <p> Non disponible pour le moment</p>
            <!---<img id="fluxVideoCam" width="800" alt="Flux vidéo de la caméra">--->
        </div>
    </div>

    <!-- CONTENU ACTIVITÉ -->
    <div id="activite" class="tab-content">
        <h2>Section Ateliers et Activités</h2>

        <div class="subtabs">
            <button class="subtab-btn active" data-subtab="a1">Atelier Collèges</button>
            <button class="subtab-btn" data-subtab="a2">Atelier Lycées</button>
            <button class="subtab-btn" data-subtab="a3">Activité Entrainement et Utilisation</button>
            <button class="subtab-btn" data-subtab="a4">Activité Programmation</button>
        </div>

        <div id="a1" class="subtab-content active">
            <h2>PREMIERE CHOSE A FAIRE</h2>
            <p>Leur demander ce qu'ils connaissent de l'IA.</p>
            <h2>CONNAISSANCES ~17'</h2>
            <p>o Identifier les utilisations actuelles de l'IA<br>
                → Aujourd'hui, l'IA est très démocratisée, mais où est-ce que l'on peut en trouver ? Eh bien, un peu
                partout : bien sur tous les chatbots qui permettent de répondre plus ou moins à nos questions. Mais l'IA
                est aussi présente dans d'autre endroits, comme dans la météo où l'IA permet de prévoir le temps et la
                température avec plusieurs jours d'avance ou encore dans la vidéo-surveillance où on arrive à détecter
                les visages des gens.</p>
            <p>o Petit historique de l'IA<br>
                → Mais l'IA n'est pas toute récente. Elle ne date pas d'il y a 10. Le mot “intelligence artificielle” a
                été créé en 1956 à la conférence de Dartmouth.<br>
                Il y a ensuite eu un développement en dent de scie avec des passages où l'IA était vue comme
                révolutionnaire puis d'autres où elle était vue comme inutile. En 1997, l'IA Deep Blue bat Garry
                Kasparov, le champion du monde des échecs. Cela signe une relance pour l'IA. C'est seulement avec
                ChatGpt en 2022 que l'IA s'ouvre au grand public et devient omniprésente.</p>
            <p>o Décrire pourquoi on a créé des IA<br>
                → On a créé des IA pour répondre à des besoins spécifiques, et ce pour remplacer l'humain dans certaines
                tâches dans laquelle elle excelle. Comme les prises de décisions ou les tâches rébarbatives du
                quotidien. Et ce car on n'a pas encore réussi à créer une IA qui peut faire plusieurs choses en même
                temps comme Jarvis dans IronMan.</p>
            <p>o Définir ce que fait une IA<br>
                → Une IA ne fait qu'une seule chose, elle prédit.</p>
            <p>o Lister les types de prédictions qui existent<br>
                → Par exemple une IA peut prédire un nombre comme le prix d'une maison, mais aussi une classe
                d'appartenance comme ordinateur portable ou ordinateur fixe, elle peut générer des mots ou des images
                qui sont une prédiction de quel caractère ou pixel il faut afficher, et bien d'autres choses comme
                prédire une action à faire.</p>
            <p>o Lister les différents types d'IA qui existe et leur domaine spécifique<br>
                → Les différents types d'IA qui répondent à ces types de prédictions sont les IA de vision par
                ordinateur pour tout ce qui est analyse d'image, les LLM (Large Language Model) qui sont un type d'IA
                génératives, les IA de régression pour prédire des nombres, et le renforcement learning qui peut être
                utilisé pour les jeux.</p>
            <p>o Expliquer comment apprennent les IA<br>
                → Pour qu'une IA effectue le travail qu'on lui demande, c'est comme les humains. Il faut qu'elle
                apprenne à le faire. Pour cela, on va lui donner une grande quantité de données avec des réponses. Si on
                veut qu'elle détecte les escargots des limaces, on va lui donner beaucoup d'images d'escargots et de
                limaces avec indiqué si ce sont des escargots ou des limaces. En fonction de si sa prédiction est
                correcte ou non, elle va se corriger elle-même en ajustant ses paramètres pour s'améliorer.</p>
            <p>o “qu'est-ce qu'une donnée”<br>
                → Tout est une donnée, le fait d'avoir ou pas des cheveux est une donnée, aller à l'école est une
                donnée, absolument tout est une donnée</p>
            <p>o Lister les différents types de données<br>
                → Les vidéos, les images, les nombres, les sons, les mots, les ondes, tout est une donnée</p>
            <p>o Combien de données à besoin une IA ?<br>
                → Une IA a besoin du plus de données possibles. Plus y'en a mieux c'est. Idéalement il faut des données
                assez variées, comme pour l'exemple des escargots il faudrait des images d'escargots de différentes
                couleurs, de différents angles de prise de vue, différents moments de la journée. Plus la donnée est
                complexe, plus il va en falloir. Par exemple une image est plus complexe qu'un simple chiffre. Seulement
                plus on a besoin de donnée, plus ça coûte cher.</p>


            <p>o Les vigilances face à l'IA<br>
                → L'IA, bien que très utile notamment avec les IA génératives, peut communiquer de fausses informations.
                Son but est de vous répondre, pas de vous donner la bonne réponse. Veillez à bien vérifier vos sources.
                De plus, les données que vous écrivez à une IA vont être récupérer pour entraîner les IA de demain.
                N'envoyez donc pas de contenu sensible à une IA comme vous ne posteriez une photo nue de vous en story.
            </p>


            <p>o Les impacts écologiques<br>
                → Les IA ont besoin de beaucoup de ressources physiques comme les processeurs graphiques (cartes
                graphiques ou GPU) pour s'entraîner et fonctionner. Cela nécessite des matières premières et de l'eau
                pour les refroidir. Elles consomment donc aussi de l'électricité. En 2024, la consommation électrique de
                l'IA a atteint 0.24% de la consommation électrique mondiale. C'est pour l'instant peu et ça n'a pas fini
                de monter mais cela reste tout de même modéré et pas aussi terrible que l'annonce certain média.</p>


            <h2>DEMO</h2>
            <p>Faire les démos du site internet 5'</p>


            <h2>COMPRÉHENSION ~5'</h2>
            <p>Maintenant petit exercice pour voir si vous avez compris l'utilisation qu'on peut avoir d'une IA, des
                petits cas vont être donnés et il va falloir dire si l'IA sera intéressante à utiliser dans ce cas-là,
                ce que va recevoir et ce que va prédire l'IA , quel type de modèle pourrait être utilisé ainsi que le
                degré de précision qui serai nécessaire.</p>


            <p><strong>Premier cas :</strong> A partie d'une trentaine de critères bien définis ( la surface habitable,
                le nombre de
                chambres, de salle de bain, l'emplacement etc.), prédire le prix d'une maison.</p>
            <button class="comp-answ-btn" data-hiddendiv="answc1">Réponse</button>
            <div id="answc1" class="comp-answ">
                → Oui l'utilisation de l'IA est intéressante puisque sans cela il faudrait regarder pour chaque critère
                la différence de prix à la main ce qui pourrait prendre vraiment beaucoup de temps. Alors qu'avec une
                IA, elle va reconnaitre les tendances toute seule permettant une estimation plus précise. L'IA va donc
                prendre des tableurs comprenant les critères des maisons déjà estimer ainsi que leur prix et va prédire
                le prix de nouvelles maisons en fonctions des critères inscrits qui est donc un nombre, le modèle est
                donc un modèle de régression. La précision demandé est pas forcément énorme puisqu'on a juste besoin
                d'avoir un prix estimé au milliers d'euros près.</div>


            <p><strong>Deuxième cas :</strong> Calculer le carré de plusieurs nombres entier.</p>
            <button class="comp-answ-btn" data-hiddendiv="answc2">Réponse</button>
            <div id="answc2" class="comp-answ">
                → L'utilisation de l'IA n'est pas nécessaire car la fonction carré n'étant pas linéaire, il faudrait
                beaucoup de données pour que le modèle fonctionne bien, et une calculatrice y arrive très bien en
                utilisant largement moins de ressources.</div>


            <p><strong>Troisième cas :</strong> Détecter un cancer du sein grâce à des radiographies des seins.</p>
            <button class="comp-answ-btn" data-hiddendiv="answc3">Réponse</button>
            <div id="answc3" class="comp-answ">
                → Pour reconnaitre des objets aussi petits que des tumeurs, l'aide de l'IA peut être très utile car l'IA
                va mieux réussir à repérer s'il y a un problème. L'IA devrait prendre des image pour prédire si une
                tumeur est détectée ou non, c'est donc un problème de vision par ordinateur. Pour ce modèle, la
                prédiction doit être la plus précise possible pour pouvoir sauver des vies.</div>


            <p><strong>Quatrième cas :</strong> Vous êtes dans un pays scandinave (il fait très froid) mais vous ne
                connaissez pas la
                langue et vous voulez savoir ce qu'il y a d'écrit sur une lettre qu'on vous a donné.</p>
            <button class="comp-answ-btn" data-hiddendiv="answc4">Réponse</button>
            <div id="answc4" class="comp-answ">
                → Vous pouvez recopier le texte dans google traduction mais il fait froid donc une IA qui traduit
                automatiquement à partir d'une photo est bien plus pratique. Cette IA-là va analyser une image pour en
                détecter des mots et une fois fait, traduire ces mêmes mots dans votre langues, elle utilisera donc un
                mélange de Computer Vision et de LLM. La précision doit être assez forte car une mauvaise traduction
                pourrait changer complétement le sens de la lettre.</div>


            <h2>APPLICATION</h2>
            <p>o Pratiquer la création d'une IA de reconnaissance d'images<br>
                o Pratiquer la création d'une IA LLM<br>
                o Pratiquer l'utilisation d'une IA de reconnaissance d'images<br>
                Pour les créneaux de 1h: faire l'activité LLM ou l'activité computer vision, au pire ils continueront la
                deuxième activité chez eux pour ceux qui le veulent<br>
                Pour les créneaux de 2h : faire l'activité LLM et l'activité computer vision</p>
        </div>
        <div id="a2" class="subtab-content">
            <h2>PREMIERE CHOSE A FAIRE</h2>
            <p>Leur demander ce qu'ils connaissent de l'IA.</p>
            <h2>CONNAISSANCES ~17'</h2>
            <p>o Identifier les utilisations actuelles de l'IA<br>
                → Aujourd'hui, l'IA est très démocratisée, mais où est-ce que l'on peut en trouver ? Eh bien, un peu
                partout : bien sur tous les chatbots qui permettent de répondre plus ou moins à nos questions. Mais l'IA
                est aussi présente dans d'autre endroits, comme dans la météo où l'IA permet de prévoir le temps et la
                température avec plusieurs jours d'avance ou encore dans la vidéo-surveillance où on arrive à détecter
                les visages des gens.</p>
            <p>o Petit historique de l'IA<br>
                → Mais l'IA n'est pas toute récente. Elle ne date pas d'il y a 10. Le mot “intelligence artificielle” a
                été créé en 1956 à la conférence de Dartmouth.<br>
                Il y a ensuite eu un développement en dent de scie avec des passages où l'IA était vue comme
                révolutionnaire puis d'autres où elle était vue comme inutile. En 1997, l'IA Deep Blue bat Garry
                Kasparov, le champion du monde des échecs. Cela signe une relance pour l'IA. C'est seulement avec
                ChatGpt en 2022 que l'IA s'ouvre au grand public et devient omniprésente.</p>
            <p>o Décrire pourquoi on a créé des IA<br>
                → On a créé des IA pour répondre à des besoins spécifiques, et ce pour remplacer l'humain dans certaines
                tâches dans laquelle elle excelle. Comme les prises de décisions ou les tâches rébarbatives du
                quotidien. Et ce car on n'a pas encore réussi à créer une IA qui peut faire plusieurs choses en même
                temps comme Jarvis dans IronMan.</p>
            <p>o Définir ce que fait une IA<br>
                → Une IA ne fait qu'une seule chose, elle prédit.</p>
            <p>o Lister les types de prédictions qui existent<br>
                → Par exemple une IA peut prédire un nombre comme le prix d'une maison, mais aussi une classe
                d'appartenance comme ordinateur portable ou ordinateur fixe, elle peut générer des mots ou des images
                qui sont une prédiction de quel caractère ou pixel il faut afficher, et bien d'autres choses comme
                prédire une action à faire.</p>
            <p>o Lister les différents types d'IA qui existe et leur domaine spécifique<br>
                → Les différents types d'IA qui répondent à ces types de prédictions sont les IA de vision par
                ordinateur pour tout ce qui est analyse d'image, les LLM (Large Language Model) qui sont un type d'IA
                génératives, les IA de régression pour prédire des nombres, et le renforcement learning qui peut être
                utilisé pour les jeux.</p>
            <p>o Expliquer comment apprennent les IA<br>
                → Pour qu'une IA effectue le travail qu'on lui demande, c'est comme les humains. Il faut qu'elle
                apprenne à le faire. Pour cela, on va lui donner une grande quantité de données avec des réponses. Si on
                veut qu'elle détecte les escargots des limaces, on va lui donner beaucoup d'images d'escargots et de
                limaces avec indiqué si ce sont des escargots ou des limaces. En fonction de si sa prédiction est
                correcte ou non, elle va se corriger elle-même en ajustant ses paramètres pour s'améliorer.</p>
            <p>o “qu'est-ce qu'une donnée”<br>
                → Tout est une donnée, le fait d'avoir ou pas des cheveux est une donnée, aller à l'école est une
                donnée, absolument tout est une donnée</p>
            <p>o Lister les différents types de données<br>
                → Les vidéos, les images, les nombres, les sons, les mots, les ondes, tout est une donnée</p>
            <p>o Combien de données à besoin une IA ?<br>
                → Une IA a besoin du plus de données possibles. Plus y'en a mieux c'est. Idéalement il faut des données
                assez variées, comme pour l'exemple des escargots il faudrait des images d'escargots de différentes
                couleurs, de différents angles de prise de vue, différents moments de la journée. Plus la donnée est
                complexe, plus il va en falloir. Par exemple une image est plus complexe qu'un simple chiffre. Seulement
                plus on a besoin de donnée, plus ça coûte cher.</p>


            <p>o Les vigilances face à l'IA<br>
                → L'IA, bien que très utile notamment avec les IA génératives, peut communiquer de fausses informations.
                Son but est de vous répondre, pas de vous donner la bonne réponse. Veillez à bien vérifier vos sources.
                De plus, les données que vous écrivez à une IA vont être récupérer pour entraîner les IA de demain.
                N'envoyez donc pas de contenu sensible à une IA comme vous ne posteriez une photo nue de vous en story.
            </p>


            <p>o Les impacts écologiques<br>
                → Les IA ont besoin de beaucoup de ressources physiques comme les processeurs graphiques (cartes
                graphiques ou GPU) pour s'entraîner et fonctionner. Cela nécessite des matières premières et de l'eau
                pour les refroidir. Elles consomment donc aussi de l'électricité. En 2024, la consommation électrique de
                l'IA a atteint 0.24% de la consommation électrique mondiale. C'est pour l'instant peu et ça n'a pas fini
                de monter mais cela reste tout de même modéré et pas aussi terrible que l'annonce certain média.</p>

            <h3>o Les réseaux de neurone et leur fonctionnement rapide</h3>
            <p>→ Qu'est-ce qu'un neurone, comment l'info passe dans les neurones, ne pas rentrer dans les détails
                mathématiques, juste dire qu'il y a des fonctions qui gèrent tout ça</p>

            <p>Comme l'un des buts initiaux de l'IA est de décharger l'humain de certaines tâches, certaines IA ont été
                créer en recalquant la manière dont fonctionne le cerveau humain : un réseau de neurones. Mais comment
                le réseau de neurones de l'IA fonctionne-t-il ?</p>

            <p>Un réseau de neurones est composé de plusieurs couches chacune composée de 1 à plusieurs neurones. Entre
                chaque couche, les neurones sont reliés à tous les neurones de la couche précédente.</p>

            <p>Chaque neurone est représenté une fonction. Lorsque le réseau de neurone essaye de prédire quelque chose,
                ces fonctions vont varier selon les résultats de la couche précédente. Pour chacun des neurones, si le
                résultat de sa fonction est supérieur à un certain seuil, le neurone en question va s'activer et
                transmettre son résultat à la couche suivante et ainsi de suite. Chaque neurone représente une fonction
                différente.</p>

            <p>La dernière couche du réseau, la couche de sortie, va permettre la prédiction. Suivant le résultat obtenu
                sur le(s) neurone(s) de cette couche, la réponse changera.</p>

            <p>Donnons un exemple avec le schéma ci-dessous. Un neurone de la couche L2 va utiliser tous les neurones de
                la couche L1 pour avoir son résultat, qui va ensuite être utilisé pour les neurones de la couche L3 et
                ainsi de suite jusqu'à la couche de sortie.</p>

            <p><img src="/static/assets/act2/reseaux.png" alt="Schéma d'un réseau de neurones" /></p>

            <p>Lors de l'entrainement, les paramètres des fonctions se modifient en fonction de la bonne prédiction ou
                non, des données d'entrainement Les calculs de paramètres des fonctions sont trop complexes pour les
                expliquer maintenant.</p>

            <h3>o le surapprentissage</h3>
            <p>→ Le surapprentissage c'est comme avec les humains. Lorsqu'on apprend une leçon, on doit lire la leçon
                plusieurs fois. Et après seulement on sera apte à résoudre des exercices. Seulement, si on apprend la
                leçon par cœur on la connaîtra mot pour mot, mais si l'exercice diffère un peu de ce qu'on a appris, on
                ne saura pas le faire. Alors que sans apprendre par cœur on comprend les mécanismes de l'exercice et on
                devient meilleurs.</p>



            <h2>DEMO</h2>
            <p>Faire les démos du site internet 5'</p>


            <h2>COMPRÉHENSION ~5'</h2>
            <p>Maintenant petit exercice pour voir si vous avez compris l'utilisation qu'on peut avoir d'une IA, des
                petits cas vont être donnés et il va falloir dire si l'IA sera intéressante à utiliser dans ce cas-là,
                ce que va recevoir et ce que va prédire l'IA , quel type de modèle pourrait être utilisé ainsi que le
                degré de précision qui serai nécessaire.</p>


            <p><strong>Premier cas :</strong> A partie d'une trentaine de critères bien définis ( la surface habitable,
                le
                nombre de
                chambres, de salle de bain, l'emplacement etc.), prédire le prix d'une maison.</p>
            <button class="comp-answ-btn" data-hiddendiv="answ1">Réponse</button>
            <div id="answ1" class="comp-answ">
                → Oui l'utilisation de l'IA est intéressante puisque sans cela il faudrait regarder pour chaque critère
                la différence de prix à la main ce qui pourrait prendre vraiment beaucoup de temps. Alors qu'avec une
                IA, elle va reconnaitre les tendances toute seule permettant une estimation plus précise. L'IA va donc
                prendre des tableurs comprenant les critères des maisons déjà estimer ainsi que leur prix et va prédire
                le prix de nouvelles maisons en fonctions des critères inscrits qui est donc un nombre, le modèle est
                donc un modèle de régression. La précision demandé est pas forcément énorme puisqu'on a juste besoin
                d'avoir un prix estimé au milliers d'euros près.</div>


            <p><strong>Deuxième cas :</strong> Calculer le carré de plusieurs nombres entier.</p>
            <button class="comp-answ-btn" data-hiddendiv="answ2">Réponse</button>
            <div id="answ2" class="comp-answ">
                → L'utilisation de l'IA n'est pas nécessaire car la fonction carré n'étant pas linéaire, il faudrait
                beaucoup de données pour que le modèle fonctionne bien, et une calculatrice y arrive très bien en
                utilisant largement moins de ressources.</div>


            <p><strong>Troisième cas :</strong> Détecter un cancer du sein grâce à des radiographies des seins.</p>
            <button class="comp-answ-btn" data-hiddendiv="answ2">Réponse</button>
            <div id="answ2" class="comp-answ">
                → Pour reconnaitre des objets aussi petits que des tumeurs, l'aide de l'IA peut être très utile car l'IA
                va mieux réussir à repérer s'il y a un problème. L'IA devrait prendre des image pour prédire si une
                tumeur est détectée ou non, c'est donc un problème de vision par ordinateur. Pour ce modèle, la
                prédiction doit être la plus précise possible pour pouvoir sauver des vies.</div>


            <p><strong>Quatrième cas :</strong> Vous êtes dans un pays scandinave (il fait très froid) mais vous ne
                connaissez pas la
                langue et vous voulez savoir ce qu'il y a d'écrit sur une lettre qu'on vous a donné.</p>
            <button class="comp-answ-btn" data-hiddendiv="answ2">Réponse</button>
            <div id="answ2" class="comp-answ">
                → Vous pouvez recopier le texte dans google traduction mais il fait froid donc une IA qui traduit
                automatiquement à partir d'une photo est bien plus pratique. Cette IA-là va analyser une image pour en
                détecter des mots et une fois fait, traduire ces mêmes mots dans votre langues, elle utilisera donc un
                mélange de Computer Vision et de LLM. La précision doit être assez forte car une mauvaise traduction
                pourrait changer complétement le sens de la lettre.</div>


            <h2>APPLICATION</h2>
            <p>o Pratiquer la création d'une IA de reconnaissance d'images<br>
                o Pratiquer la création d'une IA LLM<br>
                o Pratiquer l'utilisation d'une IA de reconnaissance d'images<br>
                o Coder en python un modèle d'IA de reconnaissance d'image</p>

            <h4>→ Connaissances à ajouter</h4>

            <h5>o C'est quoi un GPU, pk on les utilise pour l'IA ?</h5>
            <p>→ Une IA ayant besoin de beaucoup de calculs de nombres pour s'entrainer, nous utilisons des GPU pour
                l'entrainement afin d'optimiser le temps d'entrainement. En effet, les GPU, ou Graphic Processor Unit,
                permettent de gérer rapidement une grosse quantité de petits calculs, ce qui est donc parfait pour
                l'entrainement des IA.</p>

            <h5> Expliquer :</h5>

            <h6>o C'est quoi une epoch</h6>
            <p>→ Pour éviter d'avoir besoin d'immensément de données, on entraine les modèle d'IA plusieurs fois sur les
                mêmes données pour pouvoir toujours un peu plus corriger les paramètres. Passer une « Epoch » signifie
                passer une fois l'ensemble des données, et passer 5 epochs signifie que l'IA va s'entrainer 5 fois sur
                les données.</p>

            <h6>o C'est quoi un batch</h6>
            <p>→ Au lieu que l'IA apprenne (corrige ses paramètres) à chaque image, elle va apprendre à chaque lot
                d'image appeler batch. Plus la taille du batch est gros, elle va apprendre moins souvent et donc
                raccourcir le temps d'entrainement au prix d'une précision moindre qui peut être corrigée par un grand
                nombre d'epoch.</p>

            <p>ANALYSE (EN PLUS) --> aller les voir un par un pour ceux qui sont en avance pendant les exo pratiques</p>

            <h4>o Analyser la performance de l'IA avec les graphes</h4>

            <h4>o Examiner les hyperparamètres tel que le learning rate pour voir ce qui change et comment ça change
            </h4>
            <p>Pour les créneaux de 1h: faire l'activité LLM ou l'activité computer vision, au pire ils continueront la
                deuxième activité chez eux pour ceux qui le veulent<br>
                Pour les créneaux de 2h : faire l'activité LLM et l'activité computer vision<br>
                Pour les créneaux de 3h : ajouter l'activité de programmation
            </p>
        </div>
        <div id="a3" class="subtab-content">
            <h1>Activité : Entraînement d'une IA de classification d'images</h1>
            <p>Cette activité permet de découvrir comment une IA est entraînée et pourquoi choisir les bonnes données
                est important. Elle est très guidée et permet de voir comment les données influencent l'apprentissage
                d'une IA.</p>
            <ul>
                <li>Aller sur le site : <a
                        href="https://pixees.fr/classcodeiai/app/tuto1/">https://pixees.fr/classcodeiai/app/tuto1/</a>
                </li>
                <li>Aller dans la partie « Expérimenter »</li>
                <li>Suivez les différentes étapes. Si un intervenant vous fait faire l'activité, vous pouvez passer les
                    vidéos, car les explications seront données à l'oral.</li>
            </ul>
            <h1>Activité : Utilisation d'une IA</h1>
            <p>Dans cette activité, vous allez découvrir un cas pratique : créer un programme qui utilise les
                prédictions d'une IA de Computer Vision pour modifier un affichage.</p>
            <ul>
                <li>Aller sur le site : <a
                        href="https://fr.vittascience.com/ia/images">https://fr.vittascience.com/ia/images</a></li>
            </ul>
            <h2>Partie Modèle IA</h2>
            <p>La partie "Données" permet d'utiliser des images pour entraîner votre IA.</p>
            <p>Pour cela : ajouter des catégories et leur affecter des images dans la partie « Données ».</p>
            <img src="/static/assets/act3/donnees.png" alt="Illustration données IA" />
            <p>Une fois la catégorie créée, renommer la catégorie via le crayon. Il y a trois façons d'ajouter des
                images :</p>
            <ul>
                <li>Utiliser la caméra et faire des photos (icone d ecaméra)</li>
                <li>Utiliser les catégories existantes (icone de 6 carrés)</li>
                <li>Téléverser des images (icone de téléchargement)</li>
            </ul>
            <img src="/static/assets/act3/categorie.png" alt="Ajout d'images" />
            <p>Lorsque toutes les catégories sont prêtes, cliquer sur « Entraîner le modèle » dans la partie
                Entrainement du site web.</p>
            <img src="/static/assets/act3/entrainement.png" alt="Entraîner le modèle" />
            <p>Dans la partie « Aperçu », vous pouvez tester le modèle en ajoutant des images commelors de la création
                des catégories.</p>
            <img src="/static/assets/act3/apercu.png" alt="Aperçu du modèle" />
            <p>Après téléversement d'une image, les prédictions s'affichent. <br>
                Vous pouvez visualiser comment la prédiction a été faite en cliquant sur le bouton « Visualiser le
                réseau de neurones » qui se trouve dans la partie Entrainement de la page Web.</p>
            <img src="/static/assets/act3/resultat.png" alt="Réseau de neurones" />
            <p>Une fois que votre modèle d'IA vous convient, vous pouvez passer à la partie programmation en cliquant
                sur le bouton AdaCraft.</p>
            <img src="/static/assets/act3/adacraft.png" alt="Accès AdaCraft" />
            <h2>Partie Programmation</h2>
            <p>La partie la plus utilisée de cette page web est la partie blocs. A la gauche de la page se trouve les
                différents blocs qui peuvent être utilisé pour programmer ainsi que leur catégorie. Au milieu se trouve
                votre environnement de travail : c'est ici que vous allez assembler les blocs pour faire un code
                fonctionnel.</p>
            <p>Les deux instructions les plus importantes sont :</p>
            <ul>
                <li>« sélectionner et initialiser le modèle de la mémoire locale du navigateur »</li>
                <li>« lancer la détection de la caméra » (ou « lancer la détection sur fichier/URL » si vous n'avez pas
                    de caméra.)</li>
            </ul>
            <p>Ce sont ces deux instructions qui permettent d'utiliser le modèle d'IA précédemment entrainé.</p>
            <img src="/static/assets/act3/code.png" alt="Blocs IA" />
            <p>En haut à droite de la page web se trouve le résultat de votre code. En effet, c'est ici que vous pouvez
                retrouver les « objets » qui vont réagir en fonction du code.
                L'icone de drapeau vert permet de lancer le code.
            </p>
            <img src="/static/assets/act3/affichage.png" alt="Affichage du résultat" />
            <p>En bas à droite de la page web, vous pouvez modifier l'arrière-plan ainsi que choisir quels objets vont
                être afficher. C'est aussi en sélectionnant les objets que l'on peut choisir quel code affecte ces
                objets.</p>
            <img src="/static/assets/act3/objets.png" alt="Ajout d'objet et changement d'arrière arrière-plan" />
            <p>Tout en haut à droite, vous pouvez appuyer sur la note de musique pour rajouter des sons, sur le pinceau
                pour pouvoir modifier les objets et changer leur apparence, et le "
                < />" pour revenir sur la partie
                code.
            </p>
            <img src="/static/assets/act3/vue.png" alt="Changement de vue" />

            <h2>Exemples de programmes</h2>
            <p>Maintenant que les fonctionnalités principales du site sont expliquées, c'est à vous de faire votre
                propre projet! <br>
                Si vous avez des idées en tête, vous pouvez les réaliser, et si vous n'en avez pas, voici quelques
                exemples de programmes qui peuvent être réalisés./p>
                </span>
            <ul>
                <li><strong>Tri des poubelles</strong> : trois poubelles sont affichées, en fonction de la photo donnée,
                    un objet glisse vers la bonne poubelle.</li>
                <li><strong>Voiture autonome</strong> : la voiture tourne et avance selon les panneaux détectés.</li>
                <li><strong>Météo</strong> : affichage météo selon l'image détectée (soleil, pluie, etc.).</li>
                <li><strong>Shifumi</strong> : Comparer le signe de mains fait avec une variable aléatoire, gérer toute
                    les comparaisons.
                </li>
            </ul>
        </div>
        <div id="a4" class="subtab-content">
            <h2>KAGGLE NOTEBOOKS</h2>

            <p>En arrivant sur le site <a href="https://www.kaggle.com/code">https://www.kaggle.com/code</a> , vous
                allez retrouver ceci :</p>
            <img src="/static/assets/act4/acceuil.png" alt="Acceuil de Kaggle" />

            <p>On peut y voir plusieurs choses. Le panneau déroulant à gauche, où vous pouvez retrouver à la fin tous
                les travaux que vous avez fait dans l'espace “Your Work”. Et l'espace central, qui montre vos
                statistiques. En haut de cet espace central vous avez une barre de recherche.<br>
                Cliquez dessus et tapez : “ACTIVITE IA LYCEE”.</p>

            <img src="/static/assets/act4/recherche.png" alt="Recherche de l'activité" />

            <p>Si vous en voyez plusieurs, sélectionnez celle en majuscule et qui ne comporte aucun chiffre avec la
                photo de profil du logo de l'ESEO.</p>

            <p>Cela va vous amener sur cette page :</p>
            <img src="/static/assets/act4/notebook.png" alt="Page d'acceuil de l'activité" />

            <p>C'est le travail de l'activité. Vous allez ensuite cliquer sur “Copy and Edit” en haut à droite. Cela va
                copier et créer cette activité dans votre espace personnel pour vous permettre de la modifier. Vous
                allez la retrouver dans l'espace “Your Work”. Vous allez donc arriver sur cette page :</p>

            <img src="/static/assets/act4/environnement.png" alt="Environnement de programmation" />

            <p>C'est l'espace de programmation. Il est divisé en plusieurs parties. Le panneau déroulant à gauche,
                toujours le même, l'espace central dédié au code et juste au-dessus, les onglets de navigation pour
                paramétrer cet espace. A droite se trouve un panneau déroulant. Dans ce panneau nous utiliserons la
                Table des matières pour naviguer plus facilement.<br>
                Vous y trouverez aussi “Session options”.</p>

            <img src="/static/assets/act4/session.png" alt="Options de sessions" />

            <p>Vous allez configurer les paramètres de la session comme sur l'image sur la gauche si ce n'est pas déjà
                fait (n'oubliez pas d'activer internet)</p>

            <p>Pour lancer la session de programmation, vous allez cliquer sur le bouton on/off en haut à droite de la
                page :</p>
            <img src="/static/assets/act4/onOff.png" alt="Démarage de la session" />

            <p>Votre Session est prête à l'emploi, vous allez pouvoir démarrer l'activité !</p>

            <h2>UTILISATION D'UN NOTEBOOK</h2>
            <p>Un notebook est un environnement de travail spécifique et modulable. Ce n'est pas comme un environnement
                classique où vous tapez votre code dans un gros paragraphe. Ici, vous pouvez segmenter votre code. Le
                code de l'activité est par exemple segmenté en 8 parties. Les parties vont être représentées par des
                blocs, que vous pouvez créer, supprimer ou modifier. Pour cette activité il n'y aura besoin ni de créer
                ni de supprimer des blocs.</p>
            <p>Il y a deux types de blocs. Les blocs de texte, pour par exemple mettre des annotations comme des titres
                ou des explications, et des blocs de code. Les boutons + code et + markdown servent à ajouter une
                cellule de texte ou de code après la cellule sélectionnée (on ne va pas les utiliser)</p>

            <img src="/static/assets/act4/age.png" alt="Exemple de cellule" />

            <h3>Comment ça marche concrètement ?</h3>
            <h4>1. Lancer une cellule de code</h4>
            <ul>
                <li>Cliquez dedans, votre curseur de souris s'affiche pour écrire</li>
                <li>Appuiez sur les touches Shift + Entrée (ou cliquez sur le bouton ▶ en haut)</li>
            </ul>
            <p>→ Le code s'exécute et le résultat s'affiche juste en dessous.</p>

            <img src="/static/assets/act4/librairie.png" alt="Première cellule du notebook" />

            <h4>2. Dans quel ordre faut-il exécuter les cellules ?</h4>
            <p>Très important : l'ordre dans lequel les cellules sont exécutées compte énormément !<br>
                Le notebook garde en mémoire tout ce qui a exécuté avant, dans l'ordre où ça a été exécuté (pas
                forcément l'ordre où cela apparait dans le fichier).</p>

            <p>Exemple simple :</p>
            <ul>
                <li>Cellule 1 : age = 16</li>
                <li>Cellule 2 : print(age + 5)</li>
            </ul>

            <img src="/static/assets/act4/age.png" alt="Cellule de création de variable" />
            <img src="/static/assets/act4/printAge.png" alt="Cellule d'affichage" />

            <p>Si vous exécutez d'abord la cellule 2 sans avoir exécuté la cellule 1 → erreur ! La variable age n'existe
                pas encore.<br>
                Donc la règle d'or : on exécute les cellules de haut en bas (comme quand on lit un livre de gauche à
                droite).</p>

            <h4>3. Que se passe-t-il si je modifie une cellule déjà exécutée ?</h4>
            <p>Si vous changez le code dans une cellule, il faut relancer cette cellule (Shift + Entrée) et souvent, il
                faut aussi relancer toutes les cellules qui dépendent d'elle (celles qui sont en dessous et qui
                utilisent les variables ou fonctions modifiées).</p>

            <h2>EXPLICATION DU CODE</h2>
            <p>Dans le code, chaque partie est précédée d'un titre.<br>
                Il y a au total 8 parties.</p>

            <h3>1. LES LIBRAIRIES</h3>
            <p>La première est comme son nom l'indique, là où les librairies sont importées. Vous pouvez en rajouter au
                besoin. La première fois que vous allez lancer la cellule elle peut afficher des erreurs.</p>
            <img src="/static/assets/act4/AttributeError.png" alt="Image" />
            <p>Il suffit d'attendre la fin de son exécution et de la relancer, cela devrait les corriger.</p>

            <h3>2. LE GPU</h3>
            <p>La seconde partie concerne la partie GPU. Elle ne permet pas son utilisation, ceci est fait dans les
                paramètres, mais c'est une vérification pour constater qu'un GPU est bien utilisé.<br>
                Si vous avez ce résultat :</p>

            <img src="/static/assets/act4/foundGpu.png" alt="Image" />

            <p>Cela veut dire qu'il ne trouve pas le GPU, vous devez donc vérifier que vous avez sélectionné ACCELERATOR
                : GPU P100 dans les paramètres de session cités plus haut dans la section “KAGGLE NOTEBOOKS” de cette
                activité.<br>
                Sinon vous devriez obtenir ceci ou équivalent :</p>

            <img src="/static/assets/act4/physicaldevice.png" alt="Image" />

            <h3>3. LE DATASET</h3>
            <p>La troisième partie est importante. C'est ici que nous allons importer notre set de donnée qui va servir
                à entraîner l'IA.<br>
                La fonction tfds.load() va nous permettre d'importer un dataset fourni par la bibliothèque
                tensorflow_datasets. La fonction preprocess() va nous permettre de mettre les images contenues dans ce
                dataset à la bonne taille.<br>
                Cette cellule peut prendre du temps à s'executer. Veillez néanmoins à bien activer internet dans vos
                paramètres de session (voir plus haut) au risque de ne pas pouvoir importer le dataset.</p>

            <h3>4. DONNEES DU DATASET</h3>
            <p>Ceci va servir à afficher les informations du dataset pour les plus curieux d'entre vous.</p>

            <h3>5. LE MODELE D'IA</h3>
            <p>Venons-en maintenant à la partie la plus intéressante, celle où vous allez créer votre propre modèle.
                Cela est possible grâce à la fonction Sequential() de la bibliothèque keras. Il est important de noter
                que dans cette partie, chaque ligne de code est une couche.<br>
                Ici, le modèle servira à analyser et classer des images. Vous pouvez observer 4 paragraphes dans la
                fonction Sequential(). Ces 4 paragraphes donc vous le représenter en 4 portions schématisées ci-dessous.
            </p>

            <img src="/static/assets/act4/schema.png" alt="Image" />

            <h4>1.</h4>
            <img src="/static/assets/act4/rescaling.png" alt="Image" />
            <p>La couche de Rescaling. Vous n'allez pas y toucher.</p>

            <h4>2. Les couches de convolution + pooling.</h4>
            <img src="/static/assets/act4/conv.png" alt="Image" />

            <p>Ceci est un groupe de deux couches. La première, la layers.Con2D(), est la couche de convolution, la
                seconde, la layers.MaxPooling2D() permet d'avoir de meilleurs résultats. Elles fonctionnent toujours par
                deux. Pour améliorer votre modèle, vous pouvez lui ajouter une ou plusieurs couches de convolution +
                pooling et/ou augmenter le nombre de neurone par couche. Attention, seules les couches de concolutions
                possèdent des neurones. Vous
                pouvez les modifier en modifiant ce paramètre :</p>

            <pre>tf.keras.layers.Con2D(<strong>NOMBRE DE NEURONES</strong>, 3, activation='relu')</pre>

            <p>Vous remarquerez que le modèle présent dans l'activité possède déjà deux couches de convolution +
                pooling.</p>

            <p><strong>ATTENTION ! Vous pouvez rencontrer certaines erreurs.</strong></p>

            <p>ERREUR 1 :</p>
            <img src="/static/assets/act4/valueError.png" alt="Image" />

            <p>Dans ce cas vous avez dépassé le nombre de couche de convolution maximum, enlever une ou deux couches et
                réessayer.</p>

            <p>ERREUR 2 :</p>
            <img src="/static/assets/act4/ressourceError.png" alt="Image" />
            <p>ou</p>
            <img src="/static/assets/act4/originalError.png" alt="Image" />

            <p>Ici c'est que vous utilisez trop de ressources. Il faut donc commencer par réduire le nombre de neurones
                dans les couches de convolution. Redémarrez ensuite la session avec le bouton On/Off en haut. Si
                l'erreur persiste, continuez de réduire le nombre de neurones par couches ou enlevez une couche de
                neurones.</p>

            <h3>6. L'ENTRAINEMENT</h3>
            <p>C'est en lançant cette cellule que votre IA va apprendre et s'améliorer. Il va être au passage affiché
                les résultats de votre IA après chaque epoch.</p>

            <img src="/static/assets/act4/Epoch.png" alt="Image" />

            <p>Par exemple en zoomant ici sur l'epoch numéro 2, il est affiché une barre de progression, et les
                résultats de l'accuracy (nombre d'images correctement prédites en proportion) et la loss (erreur de l'IA
                quant à ses prédictions). Le but étant d'avoir l'accuracy la plus haute avec la loss la plus basse
                possible. Si vous pensez que votre modèle d'IA peut apprendre plus car il n'a pas encore fait de
                surapprentissage, vous pouvez augmenter le nombre d'epoch.</p>

            <h3>7. SAUVEGARDE DE VOTRE MODELE</h3>
            <p>Dans cette partie vous allez pouvoir enregistrer votre IA. Vous trouverez plus d'explication dans la
                section “ENREGISTRER SON IA” de l'activité.</p>

            <h3>8. AFFICHAGE DES RESULTATS</h3>
            <p>C'est ici que vous allez pouvoir analyser plus en détail les résultats de votre IA. Pour cela des graphes
                vont s'afficher indiquant l'évolution des performances de votre IA au cours de son apprentissage. Vous
                n'êtes cependant pas obligé de lancer cette cellule après chaque apprentissage de modèle car les
                résultats sont déjà affichés pendant l'apprentissage. Ils sont juste plus détaillés et plus visuels ici.
            </p>

            <h2>ENREGISTRER SON IA</h2>
            <p>Si vous pensez que votre modèle d'IA est bon, vous pouvez l'enregistrer. Vous allez lancer la portion de
                code “Sauvegarde du modèle”. Cela va créer un fichier .keras contenant votre IA. Ce fichier va
                s'afficher dans le panneau déroulant de droite dans la section “Output”.<br>
                Vous pouvez en enregistrer plusieurs mais n'oubliez pas de changer le nom du fichier que vous
                enregistrez pour ne pas écraser le précédent.</p>

            <img src="/static/assets/act4/working.png" alt="Image" />

            <p>Attention, c'est normal si le fichier met du temps à s'afficher dans “Output”. Cliquez sur le bouton
                refresh, il devrait apparaître. Vous pouvez ensuite le télécharger sur votre ordinateur en cliquant sur
                les trois petits points puis sur “download”.</p>

            <h2>FIN DE L'ACTIVITE</h2>
            <p>A la fin de l'activité, vous allez envoyer à l'adresse mail mail.ia@eseo.fr votre fichier .keras qui
                contient votre meilleure IA. Vous le nommerez :</p>

            <p><strong>IA_NOM_PRENOM.keras</strong></p>

            <p>Pour cela allez sur <a href="https://wetransfer.com/">https://wetransfer.com/</a> . Vous allez trouver
                cette fenêtre. Ajouter votre fichier
                .keras. Entrez le mail du destinataire écrit plus haut, et votre mail de formation ESEO dans
                l'expéditeur (type : formation1.ia@eseo.fr).</p>

            <img src="/static/assets/act4/wetransfer.png" alt="Image" />

            <p>Vous pouvez aussi vous ajouter en tant que destinataire si vous voulez récupérer votre IA. Mettez le
                Titre ”IA” dans ”Titre”. Vous pouvez ensuite envoyer le mail.<br>
                Félicitations ! Vous avez fini l'activité, on espère qu'elle vous aura plu. Vous pouvez toujours la
                retrouver chez vous sur <a href="https://www.kaggle.com/code">https://www.kaggle.com/code</a> , elle est
                ouverte au public et accessible par tous.
            </p>

            <h2>IMPORTANT</h2>
            <p>1) Le programme qui testera votre activité à la fin prendra en compte les IA qui analysent des images de
                250x250 pixels. Veuillez ne pas changer ces deux champs au risque de que l'IA ne fonctionne pas. Ils
                sont respectivement dans les sections : “Importation du dataset et création des splits” et “Création du
                modèle”.</p>

            <img src="/static/assets/act4/resize.png" alt="Image" />
            <img src="/static/assets/act4/rescaling.png" alt="Image" />

            <p>2) Vous devez toujours relancer la partie création du modèle avant de lancer l'entraînement de l'IA,
                sinon cela continuera d'entraîner l'IA précédente sans en améliorer les performances, l'utilité est donc
                limitée.</p>

        </div>

</body>

</html>